@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root{
    --fonte-principal: 'Poppins', sans-serif;
}

body{
    font-family: var(--fonte-principal);
    font-size: 14px;
    height: 100%;
}

.header{
    height: 20vh;
}

.cabecalho-completo{
    background-color: #85a5ff;
    padding: 8px;
    box-sizing: border-box; 
}

.cabecalho{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.principal{
    background-color: #cfdaf8;
    padding: 20px;
    height: 80vh;
    background-image: linear-gradient(to right, rgba(197, 224, 235, 0.8), rgba(140, 140, 243, 0.6)), url('../img/bg.jpg'); background-size: cover; 
} 

.rodape{
    height: 10vh;    
    background-color: #4169e1;
    color: white;
    padding-top: 0.5rem;
    font-size: 12px; 
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(45, 3, 113, 0.6)), url('../img/footer.jpg'); background-size: cover; 
    text-align: center;
}

.logo{
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

h1{
    font-size: 30px;
    font-weight: 700;
    color: #250d60;
}

h2{
    font-weight: 500;
    font-size: 25px;
}

h3{
    font-size: 16px;
    font-weight: 700;
}

span{
    color:rgb(43, 7, 100);
    font-weight: 700;
}

button{
    font-size: 20px;
    font-family: var(--fonte-principal);
    font-weight: 500;
    border-radius: 35px;
    padding: 1rem;
    background: #85a5ff;
    border: 2px solid #517efb;
    color: white;
}

button:hover{
    color: #16379b;
    border: 2px solid #16379b;
    background: linear-gradient(to left, #85a5ff, #589bd126, #85a5ff);
}

.btn-calculo{
    color: black;
    background-color: transparent;
    font-weight: 700;
    font-size: 15px;
    border: 2px solid rgb(245, 130, 149);
    border-radius: 5px;
    padding: 0.5rem;
}

.btn-calculo:hover{
    background-color: rgb(248, 81, 109);
    color: white;
}

.btn-inicio{
    padding-top: 3rem;
}

.btn-inicio__link{
    padding: .6rem .6rem;
    border-radius: 24px;
    text-decoration: none;
    color: white;
    background-color: #4349a3;
    border: 1px solid rgba(5, 1, 66, 0.575);
    font-weight: 700;
}

.btn-inicio__link:hover{
    background: rgb(113, 170, 245);
    border: 1px solid rgba(49, 11, 49, 0.884);
    color: rgba(24, 1, 66, 0.966);
}

.input{
    border-radius: 5px;
    padding: 0.5rem;
    border-color:rgb(0, 14, 94);
}

.exercicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 2rem 0;
}
